.jargon, .rfc, .wiki {
    cursor: pointer;
}
body {
    margin: 0;
}
#term {
    /* height: 100vh !important; */
    height: calc(var(--vh, 1vh) * 100) !important;
    overflow: auto;
    font-weight: bold;
}
.game {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
}
