.jargon, .rfc, .wiki {
    cursor: pointer;
}
body {
    margin: 0;
}
#term {
    /* height: 100vh !important; */
    height: calc(var(--vh, 1vh) * 100) !important;
    overflow: auto;
    font-weight: bold;
}
.rouge {
    height: 100vh;
    position: absolute;
    background: black;
    top: 0;
    width: 100vw;
    left: 0;
    z-index: -1;
}
canvas.snake, canvas.tetris, canvas.matrix {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
}
canvas.snake.running, canvas.tetris.running, canvas.matrix.running {
    display: block;
    z-index: 100;
}
.off-site {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.font {
    font-family: monospace;
    font-size: 14px;
}
