article, aside, dialog, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}
.skip {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
header#main {
    height: 185px;
    background-color: #000;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
header pre {
    color:#aaa;
    font-size: 14px;
}
p code {
    font-size: 12px;
}
pre#sig .big {
    width: 600px;
}
pre#sig div {
    position: absolute;
    top: 10px;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
}
pre#sig .medium, pre#sig .small {
    display: none;
}
ins.adsbygoogle {
    margin-left: 40px;
}
/*chrome hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    pre#sig, .separator {
        font-weight: bold;
    }
}
header#main a {
    text-decoration: none;
}
.separator {
    overflow: hidden;
    position: absolute;
    width: 800px;
    padding: 0;
    margin: 0;
    top: 140px;
}
header, nav, section, footer {
    display: block;
    margin: 10px auto;
}
header, section, footer {
    width: 800px;
}
header, article, footer {
    color: #aaa;
    background-color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#main img {
    position: absolute;
    left: -99999px;
}
.load {
    background: url(images/black-loader.gif) 50% 50% no-repeat;
}
section, footer, nav ul li a, nav ul li a:visited, footer a, section header h1, header pre {
    color: #aaa;
    font-family: "Droid Sans Mono", "Courier New", monospace;
}
/*--------------------- NAVIGATION ----------------------*/
nav {
    height: 50px;
    margin-top: -75px;
    top: 140px;
    width: 800px;
    text-align: center;
}
nav ul {
    margin: 0 auto;
    padding: 0;
    text-indent: 0;
    display: inline-block;
}
nav ul li {
    list-style: none;
    float: left;
    padding: 10px;
    margin: 5px 0;
}
nav ul li a {
    outline: none;
    padding: 2px 4px;
    text-decoration: none;
}
nav ul li a, nav ul li a:visited {
    display: block;
}
nav ul li a:hover {
    background-color: #aaa;
    color: #000;
}
/*---------------------- CONTENT ------------------------*/
ul.badges li img {
    margin-bottom: -5px;
}
ul.badges li > span, ul.badges li > img {
    display: inline-block;
}
ul.badges li > span {
    width: 80px;
}
p::selection, a::selection, ul::selection, li::selection, pre::selection, strong::selection, header::selection, span::selection, h2::selection {
    background-color: #aaa;
    color: #000;
}
 p::-moz-selection,  a::-moz-selection, ul::-moz-selection,  li::-moz-selection, pre::-moz-selection, strong::-moz-selection, header::-moz-selection,  h2::-moz-selection, span::-moz-selection {
    background-color: #aaa;
    color: #000;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::selection {
        background: rgba(170, 170, 170, 0.99);
        color: #000;
    }
}
section {
    padding: 0;
}
section header h1 {
    text-align: right;
    font-size: 1.7em;
    font-weight: normal;
    margin-right: 40px;
    padding: 20px 0;
}
section header h1:before {
    content: "<";
    padding-right: 5px;
}
article {
    margin: 20px 0;
    padding: 20px 0 60px 0;
}

article ul li {
    padding-bottom: 5px;
    list-style-type: disc;
}
section ul ul {
    margin: 20px 0 20px 20px;
    font-size: 1em;
}
section ul p {
    font-size: 1em;
    margin: 0;
}
strong {
    color: #fff;
}
header h2:after {
    content: ">";
    padding-left: 5px;
}
header#main h1 {
    display: none;
}
header h2 {
    font-weight: normal;
    margin-left: 40px;
}
section p, section ul, section h3, #share, #user_comments .comment {
    margin: 20px auto 20px 200px;
    line-height: 1.7em;
}
section p, section ul, footer p {
    font-size: 0.75em;
}
button {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none;
}
section p, section ul {
    text-align: justify;
}
article > ul {
    width: calc(100% - 260px);
}
section p, #share, #user_comments .comment, pre ul {
    width: calc(100% - 220px);
}
section li p, section li pre {
    width: 100%;
}
section a:visited, section a, footer a {
    color: #eee;
}
section a:hover, footer a:hover {
    color: #e00;
}

section .terminal, section .wrapper, #share {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
pre {
    -moz-tab-size: 4; /* Firefox 4+ */
    tab-size: 4;
}
/* SYNTAX */
section pre code {/*
    display: block;
    padding: 10px;*/
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 12px;
    display: block;
}
pre.sh_sourceCode li {
    min-height: 1.3em;
}
section .snippet-wrap li {
    list-style: none;
}
section .syntax_toogle {
    outline: none;
    float: right;
}
section .wrapper .text, section .snippet-wrap ul {
    line-height: 16px;
    padding: 0;
    width: calc(100% - 40px);
    font-size: 12px;
    text-align: left;
    margin: 3em 0 2em 2em;
    text-indent: 0;
    top: 0;
    left: 0;
}
section .snippet-wrap ul li {
}
section pre {
    padding: 2em;
}
section .snippet-wrap pre {
    margin: 0;
    padding: 0;
    display: block;
}
section .snippet-wrap ul li  {
    padding: 0;
}
section .wrapper, section .terminal {
    margin: 0 0 30px 200px;
}
section .wrapper, section .terminal {
    width: calc(100% - 220px);
    box-sizing: border-box;
}
section .wrapper {
    position: relative;
}
section li .wrapper {
    margin: 20px 0;
    font-size: 12px;
    width: 100% !important;
}

.terminal .wrapper {
    margin: 0;
    width: 100%;
    border: none;
}
section li .syntax_toogle {
    font-size: 1em;
}
section .syntax_toogle {
    font-size: 0.8em;
    z-index: 100;
    right: 0;
    padding: 4px 10px;
    text-decoration: none;
    border: 1px solid #aaa;
    border-top: none;
    border-right: none;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
}
section .wrapper .sh_sourceCode {
    background: transparent;
}
section .wrapper .sh_sourceCode li {
    text-overflow: ellipsis;
    overflow: hidden;
}
section .wrapper pre {
    word-break: break-all;
    white-space: pre-wrap;
}
/* inverted Emacs colors */
.sh_sourceCode{color:#aaa;}
.sh_sourceCode .sh_keyword{color:#07C7ED !important;font-weight:bold;}
.sh_sourceCode .sh_type{color:#0f0 !important;}
.sh_sourceCode .sh_string { color: #269100 !important;}
.sh_sourceCode .sh_regexp{color:#BB5400 !important;}
.sh_sourceCode .sh_specialchar{color:#f2f !important;}
.sh_sourceCode .sh_comment{color:#CA651D !important;}
.sh_sourceCode .sh_number{color:#f58 !important;}
.sh_sourceCode .sh_preproc{color:#f0f !important;}
.sh_sourceCode .sh_function{color:#fff !important;}
.sh_sourceCode .sh_url{color:#f00 !important;}
.sh_sourceCode .sh_date{color:#B26818 !important;}
.sh_sourceCode .sh_time{color:#B26818 !important;}
.sh_sourceCode .sh_file{color:#B26818 !important;}
.sh_sourceCode .sh_ip{color:#f00 !important;}
.sh_sourceCode .sh_property{color:#6388ab !important;}
/*----------------------- SHARE ------------------------*/
#share {
    padding: 10px 0;
}
#share #wrapper {
    /* width: 360px; */
    margin: 0 auto;
    text-align: center;
}
#share ul {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 400px;
  justify-content: space-around;
}
#share ul li {
  list-style: none;
}
#share ul li a {
  color: black;
  background: white;
  display: block;
  font-size: 24px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
}
#share li i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#share .shareaholic-share-buttons-container li.shareaholic-share-button {
    float: initial !important;
}
#share .shareaholic-share-buttons-container ul.shareaholic-share-buttons {
    overflow: visible;
}
#share span.db-wrapper, #share iframe {
    margin-left: 20px;
}
.shareaholic-canvas li {
    display: inline-block !important;
    float: none !important;
}
/*----------------------- COMMENTS ------------------------*/
#user_comments p {
    font-size: 1em;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #fff;
    word-break: break-all;
}
#user_comments .comment {
    clear: both;
    padding: 1.5em 0;
}
#user_comments .comment > div {
    font-size: 0.8em;
    width: 372px;
    margin-left: 148px;
    text-align: left;
    color: white;
}
#user_comments .comment img {
    width: 48px;
    height: 48px;
}
#user_comments .comment > ul {
    margin: 0;
    padding: 0 10px;
    width: 75px;
}
#user_comments .comment .snippet-wrap ul {
    margin: 0;
    width: auto;
}
#user_comments .comment > ul, #user_comments .comment img {
    float:left;
}
#user_comments .comment > ul li {
    list-style: none;
    overflow: hidden;
    height: 1.5em;
    text-overflow: ellipsis;
    text-align: left;
}
#pagination li {
    list-style: none;
    display: inline-block;
    padding: 4px;
}
#pagination {
    padding: 0;
    text-align: center;
}
#pagination .page-item.active {
    background-color: #aaa;
}
#pagination a, #pagination a:hover {
    text-decoration: none;
}

#pagination .page-item.active a, #pagination .page-item.active a:hover {
    cursor: text;
    color: black;
    text-decoration: none;
}
#pagination li:hover:not(.disabled) {
    background-color: #ccc;
    font-weight: bold;
}
#pagination li:hover:not(.disabled) a {
    color: black;
}
#pagination li.disabled:hover a {
    cursor: text;
    color: white;
}
/*----------------------- DONATE ------------------------*/
.donate {
    position: fixed;
    top: 50%;
    right: 10px;
    margin-top: -72px;
}
/*----------------------- FOOTER ------------------------*/
footer {
    padding: 10px 0;
}
footer p {
    text-align: center;
    margin: 0;
}
#user_comments {
    min-height: 100px;
    clear: both;
}
/* ui-darkness background images don't look good with terminal */
body .ui-dialog .ui-widget-content, body .ui-widget-content {
    background-color: #000;
    background-image: none;
}
body .ui-widget {
    font-size: 0.8em;
}
#wild > ul {
    padding: 0;

}
#wild > ul > li {
    list-style: none;
    margin: 2em 0 0 0;
}
#wild ul ul {
    padding: 0;
    margin: 1em 0 0 3em;
}
@media (max-width: 840px) {
    section, header, nav, nav ul, footer {
        width: 100% !important;
        overflow: hidden;
    }
    nav {
        background: #000;
        height: auto;
        line-height: 14px;
        margin-top: -60px;
        position:initial;
    }
    nav li {
        margin: 0 !important;
    }
    header {
        margin-top: 0;
    }
    .github-ribbon {
        display: none;
    }
    nav ul li {
        display: inline-block;
        float: initial !important;
    }
    header, article, footer {
        -webkit-border-radius: 0;
           -moz-border-radius: 0
                border-radius: 0;
    }
    .separator {
        /* overflow: hidden; */
        width: 100%;
    }
    section .wrapper {
        width: calc(100% - 220px) !important;
        box-sizing: border-box;
        overflow-x: auto;
    }
    .adsbygoogle {
        width: calc(100% - 40px) !important;
        overflow: hidden;
        margin-left: 20px !important;
    }
    pre#sig .big {
        display: none;
    }
    pre#sig .medium {
        display: block;
    }
}
@media (max-width: 550px) {
    section p, section .wrapper, article > ul, #share, #user_comments .comment, pre ul, section .terminal {
        width: calc(100% - 40px) !important;
        margin: 20px;
        box-sizing: border-box;
    }
    header h2 {
        margin-left: 20px;
    }
    section .terminal {
        box-sizing: border-box;
    }
    pre#sig .small {
        display: block;
    }
    pre#sig .medium {
        display: none;
    }
}
