Options +FollowSymLinks
Options +Indexes

RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP_HOST} !^cdn.terminal\.jcubic\.pl [NC]
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{SERVER_PORT} ^80$
RewriteCond %{HTTP_HOST} !localhost
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [L,R]

order allow,deny
deny from 73.116.73.245
deny from 34.31.83.124
deny from 34.121.144.216
deny from 34.170.12.196
deny from 34.73.10.102
deny from 173.239.232.10
allow from all

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "Content-Type"
Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"

RewriteRule firebase_token - [F]
RewriteRule messages.sqlite - [F]
RewriteRule firebase.log - [F]

#SetEnvIf Request_URI .*\.gz no-gzip=1
RewriteRule ^download/(.+) /download.php?file=$1 [NC,L]

#change name
RewriteRule comments.php /comments-rss.php

RewriteRule config.json - [F,L]

RewriteCond %{HTTP_HOST}   ^www\.(.*) [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301]

RewriteCond %{query_string} ^=PHP.{36}$
RewriteRule (.*) - [F]

#RewriteCond %{query_string} !utm_source=
#RewriteCond %{query_string} !jquery.terminal
#RewriteCond %{query_string} .+
#RewriteRule (.*) - [F]

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule js/jquery.terminal.js https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js [L]

RewriteRule css/jquery.terminal.css https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css [L]


RewriteCond %{QUERY_STRING} fbclid=.+
RewriteRule (.*) /$1?fbclid= [R=302,L]

RewriteCond %{REQUEST_URI} ^.*//+(.*)
RewriteRule .* /%1 [R=301,L]

RewriteCond %{REQUEST_URI} multiply-interpreters-demo.html
RewriteRule .* /multiple-interpreters-demo.html [R=301,L]

RewriteCond %{REQUEST_URI} ^//+$
RewriteRule .* / [R=301,L]

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|scm|rb|py|woff|svg|eot|ttf)$">
    Header set Expires "Mon, 29 Sep 2011 20:00:00 GMT"
    Header set Cache-Control "max-age=290304000, public"
    Header unset Last-Modified
</FilesMatch>

#turn of Etag
Header unset ETag
FileETag None

#ExpiresActive On
#ExpiresByType image/gif A2592000
#ExpiresByType image/png A2592000
#ExpiresByType image/jpeg A2592000
#ExpiresByType image/x-icon A2592000
#ExpiresByType application/pdf A2592000
#ExpiresByType application/x-javascript A2592000
#ExpiresByType text/plain A2592000
#ExpiresByType text/css A10800

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ 404.php [L]
